@model IEnumerable<CRUDusingApi.Models.BEL.Users>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<p>@ViewData["val"]</p>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Username)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Password)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Account)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Balance)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Username)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Password)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Account)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Balance)
        </td>
        <td>
            <div class="d-inline-block">
                @Html.ActionLink("Edit", "Update", new { id = item.Id }, new { @class = "btn btn-primary" })
            </div>

            <div class="d-inline-block">
                <form action="@Url.Action("Delete", new { id = item.Id })" method="post" onsubmit="return confirm('Are you sure to delete?');">
                    <input type="hidden" name="_method" value="Delete" />
                    <button type="submit" class="btn btn-danger">Delete</button>
                </form>
            </div>


        </td>
    </tr>
}

</table>
